menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GENERIC_GPIO
	help
	  Say Y here to enable GPIO based switch support.

config SWITCH_GPIO_TCC
	tristate "GPIO Swith support(TCC)"
	depends on MACH_M57TE || MACH_M801_88 || MACH_M803 || MACH_M805_892X
	help
	  Say Y here to enable GPIO based switch support.

endif # SWITCH
